---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: microservices
  labels:
    app: grafana
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001
      name: http
  selector:
    app: grafana
