---
apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: microservices
  labels:
    app: kibana
spec:
  type: NodePort
  ports:
    - port: 5601
      targetPort: 5601
      nodePort: 30002
      name: http
  selector:
    app: kibana
